<div>
  <h2 id="page-heading" data-cy="EwalletuserHeading">
    <span jhiTranslate="ewalletApp.ewalletuser.home.title">Ewalletusers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ewalletApp.ewalletuser.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ewalletuser"
        [routerLink]="['/ewalletuser/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ewalletApp.ewalletuser.home.createLabel"> Crear nuevo Ewalletuser </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ewalletusers?.length === 0">
    <span jhiTranslate="ewalletApp.ewalletuser.home.notFound">Ningún Ewalletusers encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ewalletusers && ewalletusers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="ewalletApp.ewalletuser.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="username">
            <div class="d-flex">
              <span jhiTranslate="ewalletApp.ewalletuser.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span jhiTranslate="ewalletApp.ewalletuser.password">Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appid">
            <div class="d-flex">
              <span jhiTranslate="ewalletApp.ewalletuser.appid">Appid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apikey">
            <div class="d-flex">
              <span jhiTranslate="ewalletApp.ewalletuser.apikey">Apikey</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ewalletuser of ewalletusers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ewalletuser', ewalletuser.id, 'view']">{{ ewalletuser.id }}</a>
          </td>
          <td>{{ ewalletuser.username }}</td>
          <td>{{ ewalletuser.password }}</td>
          <td>{{ ewalletuser.appid }}</td>
          <td>{{ ewalletuser.apikey }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ewalletuser', ewalletuser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ewalletuser', ewalletuser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(ewalletuser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
